/* You can add global styles to this file, and also import other style files */
h6.heading {
    text-align: center;
    font-size: 23px;
    margin: 18px 18px;
    font-weight: 700;
}
img.img-size {
    width: 25%;
}